@import '~highlight.js/styles/github-gist.css';
@import '~github-markdown-css/github-markdown.css';
@import '~katex/dist/katex.min.css';
@import '~markdown-it-texmath/css/texmath.css';

.markdown-body {
  box-sizing: border-box;
  min-width: 200px;
  max-width: 980px;
  margin: 0 auto;
  padding: 45px;
  font-size: 14px;
}

.markdown-body table {
  font-size: 14px;
}
